 <div class="col-lg-12 text-center"><h2>Clients</h2></div>
    </div>
    <div class="row">
   <br>     
                    <div class="row text-center">ASE Structure Design Pvt. Ltd.</div> <br>
                    <div class="row text-center">BGR Energy Pvt. Ltd.</div><br>
                    <div class="row text-center">Guru Sai HR Management Services Pvt. Ltd.</div><br>
                    <div class="row text-center">Jouve (India) Pvt. Ltd.</div><br>
                    <div class="row text-center">LM Van Moppes Pvt. Ltd.</div><br>
                    <div class="row text-center">Maxwell Geosystems Private Limited</div><br>
                    <div class="row text-center">Raasi Facility Management Services Pvt. Ltd.</div><br>
                    <div class="row text-center">Royal Plastics</div><br>
                    <div class="row text-center">Yaltech Global Pvt. Ltd.</div><br>
    </div>
</section>
