    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                <img class="intro-image" src="img/logo-small.svg">
                </div>
                <div class="row">
                <div class="intro-heading text-center">Helping enhance your processes and improve your business</div>
                <!-- <a href="#services" class="page-scroll btn-lg"> V</a> -->
                <p class="text-center">  
                  <a class="page-scroll home-button" href="#about">
                  <i class="fa fa-angle-down fa-8x"></i>
                </a>
                </p>
                </div>
            </div>
        </div>
    </header>
