<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 text-center">
                    <h1 class="section-heading">Services</h1>
                    <h3 class="section-subheading text-muted">We can provide you with end-to-end consultancy by analysing the gaps in your system, helping fulfil your documentation, training your personnel, conducting internal audits and finally achieving your                     desired certification to
ISO management system standards.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 fa-8x">
                  <span class="fa-layers fa-fw">
                      <i class="fas fa-circle text-primary hoverdisabled services-icon"></i>
                      <i class="far fa-list-alt fa-inverse" data-fa-transform="shrink-9"></i>
                  </span>
                    <h4 class="service-heading">Auditing</h4>
                    <p class="text-muted">We provide gap assessment and internal auditing services to your management system certification requirements.</p>
                </div>
                <div class="col-md-4 fa-8x">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle text-primary hoverdisabled services-icon"></i>
                        <i class="fas fa-calendar-alt fa-inverse" data-fa-transform="shrink-9"></i>
                    </span>
                    <h4 class="service-heading">Consulting</h4>
                    <p class="text-muted">We hand-hold you right from Day 1 towards your certification requirements till the receipt of your certificate.</p>
                </div>
                <div class="col-md-4 fa-8x">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle text-primary hoverdisabled services-icon"></i>
                        <i class="far fa-check-square fa-inverse" data-fa-transform="shrink-7"></i>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">We guide your personnel in virtual and classroom training sessions to improve your processes and mistake-proof your systems.</p>
                </div>
            </div>
        </div>
    </section>
